<html>
  <head>
    <title>Shopping Cart</title>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-cookies.js"></script>
    ''
    <script src="app.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>

  <body ng-app="test" ng-controller="ProductsCtrl" >
    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="text-center">
              <h2>Shopping Cart Test</h2>
          </div>
        </div>
      </nav>
      <div class="row">
       <div class="col-xs-7">
         <div class="row">
           <div ng-repeat="product in data" class="col-xs-6 col-md-3">
             <div  class="thumbnail">
               <img src="/images/{{product.Image}}" />
               <p class="name text-center">{{ product.Name }}</p>
               <p class="text-center">Price: {{product.Price | currency}}</p>
               <p class="text-center"><button ng-click="postItem(product)" class="btn btn-primary">Add to Cart</button></p>
               <p class="text-center">Quantity</p>
               <p><input ng-model="product.Qtd" required type="text" class="col-xs-12"/></p>
             </div>
           </div>
         </div>
       </div>
      <div id="shopping" class="col-xs-5">
        <h2 class="bg-info text-center">Shopping Cart</h2>
        <table class="table table-striped">
          <tr>
           <th>Item</th>
           <th>Qty</th>
           <th>Price</th>
           <th>Total</th>
           <th>action</th>
          </tr>
          <tr ng-repeat="prod in datacart.Items">
           <td>{{ prod.Name }}</td>
           <td>{{ prod.Qtd }}</td>
           <td>{{ prod.Price | currency }}</td>
           <td>{{ prod.Amount | currency }}</td>
           <td><button ng-click="deleteItem(prod)" class="btn btn-danger btn-xs">delete</button></td>
          </tr> 
        </table>
        <hr>
        <p class="text-center"><h4>Total Amount:  {{datacart.Amount | currency}}</h4> </p>
      </div>
    </div>
  </body>
</html>
